.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* header now starts from top */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 2rem;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}
.App-link:hover {
  color: #21a1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
